.main {
  position: absolute;
  top: 0px;
  width: 100vw;
  height: 100vh;
  background: url(../../assets/images/bg.png) no-repeat center center fixed;
  background-size: 100vw 100vh;
}

.bg-faded-white {
  background-color: #ffffff3b !important;
}

.temp-btn-padding {
  padding: 5px 0;
}


.no-border {
  border: 0px;
}


.temp-btn-border-right {
  border-right: 2px solid white;
}

.temp-btn-font {
  font-size: 18px;
}

.font-bold-700 {
  font-weight: 700;
}

.first-section-padding {
  padding-top: 2%;
}

.first-section-margin {
  margin-top: 2.4% !important;
}

.city-font-64 {
  font-size: 64px;
  line-height: 65px;
}

.current-temperature {
  font-size: 130px;
}

.current-icon {
  width: 90px;
  height: 90px;
}

.flex-flow-colum {
  flex-flow: column;
}

.border-bottom {
  border-bottom: 1px solid white !important;
}

.border-p-7 {
  padding-bottom: 7px;
}

.btn-border-highlight {
  border-bottom: 3px solid white;
}

.text-white-faded {
  color: #ffffffad !important;
}

.second-sec-height {
  height: 140px;
}

.second-sec-padding {
  padding-top: 5px;
  padding-bottom: 0px;
}

.col-1-from-9 {
  flex: 0 0 11.11%;
  max-width: 11%;
}

.col-1-from-8 {
  flex: 0 0 12.5%;
  max-width: 12.5%;
}

.second-sec-nowrap {
  flex-wrap: nowrap;
  overflow-x: scroll;
  height: 139px;
  overflow-y: hidden;
}


.icon {
  img {
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
  }
}

.second-sec-nowrap::-webkit-scrollbar {
  width: 0px;
  height: 8px;
}

.second-sec-nowrap::-webkit-scrollbar-thumb {
  background: #FFFFFF;
  border: 0.7px solid;
  border-radius: 6px;
}

.second-sec-nowrap::-webkit-scrollbar-thumb:hover {
  background: #FFFFFF;
}

.second-sec-nowrap::-webkit-scrollbar-track {
  background: #fff0;
  border-radius: 0px;
  box-shadow: inset 0px 0px 0px 0px #F0F0F0;
}

.hourly-daily-btn {
  font-size: 21px;
  margin-top: 12px;
}

.instant-temperature {
  font-size: 19px;
}

.hour {
  margin-bottom: 0px;
}

@media (min-width: 1200px) {
  .main {
    .container {
      max-width: 1290px;
    }


    .first-section-padding {
      padding-top: 1%;
    }

    .first-section-margin {
      margin-top: 0% !important;
    }

    .current-temperature {
      font-size: 144px;
    }

    .second-section {


      .second-sec-padding {
        padding-top: 1rem;
        padding-bottom: 0px;
      }

      .second-sec-height {
        height: 166px;
      }

      .hour {
        margin-bottom: 1rem;
      }
    }



    .second-sec-nowrap {
      height: 154px;
    }
  }
}

@media (max-width: 568px) {


  .main {
    height: 100vh;
    background-size: cover;

    .col-1-from-9 {
      flex: 0 0 25.25%;
      max-width: 25%;
    }

    .col-1-from-8 {
      flex: 0 0 35%;
      max-width: 35%;
    }

    .second-section {
      margin-top: 3rem;
    }

    .hourly-daily-btn {
      font-size: 17px;
    }

    .current-city {
      display: flex;
      flex-flow: column;
      align-items: start;
      padding-left: 1rem;
      margin-top: 15px;

      h1 {
        font-size: 30px;
        line-height: 20px;

      }

      .current-icon {
        width: 65px;
        height: 65px;
      }

      .date {
        font-size: 14px;
      }

      h2 {
        font-size: 18px;
      }
    }

    .current-temp {

      .current-temperature {
        font-size: 65px;
        text-align: center;
      }
    }
  }

}
