.main {
  position: absolute;
  top: 0px;
  width: 100vw;
  height: 100vh;
  background: url(../../assets/images/bg.png) no-repeat center center fixed;
  background-size: 100vw 100vh;
}

.bg-faded-white {
  background-color: #ffffff3b !important;
}

.temp-btn-padding {
padding: 5px 0;
}


.no-border {
  border: 0px;
}


.temp-btn-border-right {
  border-right: 2px solid white;
}

.temp-btn-font {
  font-size: 18px;
}

.font-bold-700 {
  font-weight: 700;
}

.current-temperature {
  font-size: 144px;
}

.flex-flow-colum {
  flex-flow: column;
}

.border-bottom {
  border-bottom: 1px solid white;
}

.border-p-7 {
  padding-bottom: 7px;
}
.btn-border-highlight {
  border-bottom: 2px solid white;
}

 .text-white-faded {
   color: #ffffffad !important;
 }

 .second-sec-height {
   height: 175px;
 }


 .col-1-from-9 {
   flex: 0 0 11.11%;
   max-width: 11%;
 }

 .col-1-from-8 {
   flex: 0 0 12.5%;
   max-width: 12.5%;
 }

 .second-sec-nowrap {
  flex-wrap: nowrap;
  overflow-x: scroll;
  height: 162px;
}

 .icon {
   img {
     width: 50px;
     height: 50px;
     margin-bottom: 20px;
   }
 }

 .second-sec-nowrap::-webkit-scrollbar{
  width: 0px;
  height: 8px;
  }
  .second-sec-nowrap::-webkit-scrollbar-thumb{
  background: #FFFFFF;
  border: 0.7px solid ;
  border-radius: 6px;
  }
  .second-sec-nowrap::-webkit-scrollbar-thumb:hover{
  background: #FFFFFF;
  }
  .second-sec-nowrap::-webkit-scrollbar-track{
    background: #fff0;
  border-radius: 0px;
  box-shadow: inset 0px 0px 0px 0px #F0F0F0;
  }


