<div class="main">
  <header class="mt-4 mb-5">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-4">
          <h3 class="text-white">INSTAWEATHER</h3>
        </div>
        <div class="col-2">
          <div class="row justify-content-center">
            <div class="col-4 px-0">
              <button class="text-white w-100 bg-transparent temp-btn-padding temp-btn-font font-bold-700 no-border temp-btn-border-right"
                      (click)="convertTemperature('c')" [ngClass]="{'bg-faded-white': isCelsius}">
                C
              </button>
            </div>
            <div class="col-4 px-0">
              <button class="text-white w-100 bg-transparent temp-btn-padding temp-btn-font font-bold-700 no-border" (click)="convertTemperature('f')"
                      [ngClass]="{'bg-faded-white': !isCelsius}">
                F
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>




  <section class="first-section pt-5" *ngIf="weatherObject">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-4">
          <h1 class="text-white font-bold-700">
            {{city}}
          </h1>
          <p class="date text-white font-bold-700">
            {{today}}
          </p>
          <img src="../../assets/images/current-icon.svg" alt="">
          <h5 class="text-white font-bold-700" *ngIf="weatherObject && weatherObject.currently && weatherObject.currently.summary">
            {{weatherObject.currently.summary}}
          </h5>
        </div>
        <div class="col-4">
          <div class="row justify-content-end">
            <h1 class="current-temperature text-white font-bold-700"
                *ngIf="weatherObject && weatherObject.currently && weatherObject.currently.temperature">
              {{temperatureFormatter(weatherObject.currently.temperature)}}
            </h1>
            <div class="col-12">
              <div class="row justify-content-end flex-flow-colum align-items-end">
                <h4 class="text-white font-bold-700 text-center" *ngIf="weatherObject && weatherObject.daily && weatherObject.daily.data">
                  {{temperatureFormatter(weatherObject.daily.data[0].apparentTemperatureHigh)}} /
                  {{temperatureFormatter(weatherObject.daily.data[0].apparentTemperatureLow)}}
                </h4>
                <p class="text-white font-bold-700 text-center" *ngIf="weatherObject && weatherObject.daily && weatherObject.daily.data">
                  {{weatherObject.daily.data[0].summary}}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="second-section">
    <div class="container">
      <div class="row">
        <div class="col-12 border-bottom pt-1 pb-0">
          <div class="row justify-content-start">
            <button class="col-1 text-white w-100 bg-transparent no-border font-bold-700 border-p-7 "
                    [ngClass]="{'btn-border-highlight':isHourly, 'text-white-faded': !isHourly}" (click)="hourlyOrDaily('hour')">
              Hourly
            </button>
            <button class="col-1 text-white w-100 bg-transparent no-border font-bold-700 border-p-7 "
                    [ngClass]="{'btn-border-highlight':!isHourly, 'text-white-faded': isHourly}" (click)="hourlyOrDaily('day')">
              Daily
            </button>
          </div>
        </div>
        <div class="col-12  border-bottom pt-1 pb-0 second-sec-height">
          <div class="row second-sec-nowrap" *ngIf="weatherObject && weatherObject.hourly && weatherObject.hourly.data && isHourly">
            <div class="col-1-from-9" *ngFor="let hourData of weatherObject.hourly.data">
              <div class="d-flex flex-flow-colum  justify-content-end align-items-end">
                <p class="hour text-white">
                  {{getTime(hourData.time)}}
                </p>
                <div class="icon">
                  <img [src]="hourData.icon.includes('clear') ?  '../../assets/images/clear-day.svg' : '../../assets/images/weather-Instance-cloudy.svg' "
                       alt="">
                </div>
                <p class="instant-temperature text-white">
                  {{temperatureFormatter(hourData.temperature)}}
                </p>
              </div>
            </div>
          </div>

          <div class="row second-sec-nowrap px-1" *ngIf="weatherObject && weatherObject.hourly && weatherObject.hourly.data && !isHourly">
            <div class="col-1-from-8" *ngFor="let hourData of weatherObject.daily.data">
              <div class="d-flex flex-flow-colum  justify-content-end align-items-end">
                <p class="hour text-white">
                  {{getDate(hourData.time)}}
                </p>
                <div class="icon">
                  <img [src]="hourData.icon.includes('clear') ?  '../../assets/images/clear-day.svg' : '../../assets/images/weather-Instance-cloudy.svg' "
                       alt="">
                </div>
                <p class="instant-temperature text-white">
                  {{temperatureFormatter(hourData.temperatureHigh)}} / {{temperatureFormatter(hourData.temperatureLow)}}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>





</div>
